/* Styling */

* {
    padding: 0%;
    box-sizing: border-box;
}

body {
    margin: 0;
    height: 100vh;
    background-image: url('heroimage.png');
    background-size: cover;
    background-repeat: no-repeat;
    font-size: 11px;
}

.promo-bar {
    height: 30.59px;
    width: 100%;
    background-color: black;
    color: white;
    font-size: 13px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding-top: 5px;
    padding-left: 10px;
}

.header {
    height: 40px;
    width: 100%;
    background-color:white;
    color: black;
    font-size: 11px;
    letter-spacing: -.3px;
    display: flex;
    justify-content: space-between;
    position: relative;
    align-items: center;
}

.nav-center {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 20px;
    z-index: 1;
  }
  
  .nav-right {
    display: flex;
    gap: 20px;
    z-index: 2;
    margin-right: 10px;
  }

  a:hover, a:visited, a:link, a:active {
    text-decoration: none;
    color:black;
    font-family: Arial, Helvetica, sans-serif;
}

.hero-content { /* I keep forgetting to make a box first. Befriend the box */
    height: 184.81px;
    width: 311px;
    margin-left: 40px;
    margin-top: 60px;
    padding-left: 15px;
    padding-right: 10px;
    padding-top: 20px;
    background-color: white;
    color: black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.hero-content-subtitle {
    font-size: 11px;
}

.hero-content-title {
    font-size: 18px;
}

.hero-content-copy {
    font-size: 13px;
}
